img{
    max-width: 100%;
    height: auto;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
    padding: 0;
}

.gallery-item{
    /* flex: 0.5 1 33.333%; */
    flex: 1 1 15%;
    -ms-flex: 1 1 33.333%;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f0f0f0;
}

.square-img{
    position: relative;
    width: 300px; /* 領域の幅を指定 */
    height: 300px; /* 領域の高さを指定 */
    margin: auto auto;
    border: 1px solid #030303;
    background-color: #f0f0f0;
    display: flex;
}

.gallery-item img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;

    /* max-width: 100%; */
    /* max-height: 100%; */
    /* width: auto; */
    /* height: auto; */

    /* display: block; */
    /* margin-bottom: 3rem; */
    /* width: 100%; */
    /* height: auto; */
}

.gallery-item h2 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    text-align: center;
    display: flex;
}

.gallery-item p {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    text-align: center;
    display: flex;
}


@media screen and (max-width: 768px){
    .gallery {
        flex-direction: column;
    }

    .gallery-item {
        width: 100%;
    }
}

ul {
    list-style-type: none;
}
